* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 40px;
  background-color: rgb(0, 0, 0);
}

.ind_img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 30px;
  height: 20px;
  margin-left: 20px;
}

.drop_down {
  display: inline;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.number {
  width: 40%;
  color: aliceblue;
  margin-left: 25px;
}

.header_pages {
  width: 40%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.a1 {
  text-decoration: none;
  color: white;
}

.snd_header {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.header2_pages {
  font-size: 15px;
  margin-left: 100px;
  width: 30%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.a2 {
  text-decoration: none;
  color: black;
}

.search_bar {
  height: 20px;
  font-style: italic;
  text-transform: uppercase;
  border-radius: 5px;
  margin-left: 100px;
}

.fa {
  cursor: pointer;
  height: 20px;
}

#wishlist {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6ebeb;
  margin-left: 30px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

#carticon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6ebeb;
  margin-left: 30px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.signin {
  font-size: 25px;
  background-color: rgb(0, 145, 255);
  color: white;
  width: 100px;
  height: 35px;
  border-radius: 20px;
  margin-left: 60px;
  border: none;
}

.poster {
  display: flex;
  /* height: 20px; */
  /* /* width: 50%; */
}

.poster_bg {
  display: flex;
  height: 600px;
  width: 200%;
}

.girl_poster {
  display: flex;
  position: absolute;
  height: 600px;
  width: 40%;
  margin-left: 100px;
}

.discount {
  display: flex;
  position: absolute;
  margin-left: 900px;
  margin-top: 110px;
  font-style: italic;
  font-weight: bold;
  font-size: 40px;
  color: rgb(0, 145, 255);
}

.wntr_cln {
  position: absolute;
  margin-left: 900px;
  margin-top: 150px;
  font-style: italic;
  font-weight: bold;
  font-size: 80px;
  color: rgb(0, 145, 255);
}

.clth_cln_pra {
  position: absolute;
  margin-left: 900px;
  margin-top: 335px;
  font-style: italic;
  font-size: 30px;
}

.shop_now {
  position: absolute;
  margin-left: 900px;
  margin-top: 400px;
  font-size: 25px;
  background-color: rgb(0, 145, 255);
  color: white;
  width: 160px;
  height: 60px;
  border-radius: 40px;
  cursor: pointer;
  border: none;
}

.shop_cat {
  display: flex;
  justify-content: center;
  font-size: 50px;
  margin-top: 50px;
}

.category {
  display: flex;
  margin-top: 60px;
}

.cat_img {
  margin-left: 10px;
  width: 480px;
  padding: 5px;
}

.cat {
  position: absolute;
  margin-top: 100px;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  margin-left: 310px;
}

.new_deal_btn {
    position: absolute;
  margin-top: 140px;
  font-size: 20px;
  margin-left: 300px;
  border-radius: 20px;
  width: 180px;
  height: 40px;
  background-color: orange;
  color: black;
  border: none;
  cursor: pointer;
}

.new_cln {
    position: absolute;
    margin-top: 190px;
    font-size: 20px;
  margin-left: 310px;
  font-style: italic;
  font-weight: bold;
  color:  rgb(0, 145, 255);
}

.new_cln2_dis {
    position: absolute;
    margin-top: 100px;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  margin-left: 810px;
  color:  rgb(0, 145, 255);
}

.new_cln_win {
    position: absolute;
    margin-top: 140px;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  margin-left: 810px;
}

.new_cln2 {
    position: absolute;
    margin-top: 180px;
  font-size: 20px;
  font-style: italic;
  margin-left: 810px;
}

.cat3 {
    position: absolute;
    margin-top: 100px;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    margin-left: 1310px;
  }
  
  .new_deal_btn3 {
      position: absolute;
    margin-top: 140px;
    font-size: 20px;
    margin-left: 1300px;
    border-radius: 20px;
    width: 180px;
    height: 40px;
    background-color: orange;
    color: black;
    border: none;
    cursor: pointer;
  }
  
  .new_cln3 {
      position: absolute;
      margin-top: 190px;
      font-size: 20px;
    margin-left: 1310px;
    font-style: italic;
    font-weight: bold;
    color:  rgb(0, 145, 255);
  }

  .latest_prd_name {
    display: flex;
    border-bottom: 1px solid wheat;
    align-items: center;
  }

.ltest_prd {
  font-size: 50px;
  margin-top: 50px;
  margin-left: 100px;
}

.prod_list {
    font-size: 15px;
  margin-left: 500px;
  margin-top: 50px;
  width: 30%;
  display: flex;
  align-items: center   ;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
}

.lest_prd_img1 {
    padding: 20px;
    margin-left: 130px;
}

strike {
  color: red;
}

.product1 {
    position: absolute;
}

.product2 {
    position: absolute;
    margin-left: 400px;
}

.product3 {
    position: absolute;
    margin-left: 800px;
}

.prod1 {
    padding: 15px;
}

.prod1:hover {
    background-color: wheat;
}

.checked {
    color: orange;
  }

  .str {
    display: flex;
    justify-content: center;
  }

  .clt_dis {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .clt_price {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .lest_prd_img2 {
    padding: 20px;
    margin-left: 130px;
    margin-top: 550px;
}

.product4 {
  position: absolute;
}

.product5 {
  position: absolute;
  margin-left: 400px;
}

.product6 {
  position: absolute;
  margin-left: 800px;
}

.prod2 {
  padding: 15px;
}

.prod2:hover {
  background-color: wheat;
}

.pstr{
  display: flex;
}

.yello_bg {
  margin-top: 800px;
  width: 100%;
  margin-left: 30px;
  margin-right: 30px;
  overflow: hidden;
}

.cart_man {
  position: absolute;
  margin-top: 574px;
  margin-left: 200px;
}

.pstr_wrt {
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  margin-top: 850px;
  margin-left: 600px;
}

.pstr_wrt2 {
  position: absolute;
  font-size: 18px;
  margin-top: 950px;
  margin-left: 600px;
}

.shp_nw_btn {
  position: absolute;
  font-size: 18px;
  margin-top: 1050px;
  margin-left: 600px;
  font-size: 25px;
  background-color: rgb(17, 18, 18);
  color: white;
  width: 160px;
  height: 50px;
  border-radius: 40px;
  cursor: pointer;
  border: none;
}

.shirt_side {
  position: absolute;
  margin-top: 1000px;
  margin-left: 1100px;
}

.clcn_of_mnth {
  display: flex;
  margin-top: 200px;
  margin-left: 150px;
}
.sec1 {
  display: flex;
}

.tag_clcn {
  position: absolute;
  font-size: 40px;
  margin-top: 120px;
}
.p_ctn {
  margin-top: 240px;
}

.collection_img1 {
  position: absolute;
  margin-top: 530px;
}

.shp_nw_btn2 {
  position: absolute;
  margin-top: 400px;
  font-size: 25px;
  background-color: rgb(0, 145, 255);
  color: white;
  width: 160px;
  height: 60px;
  border-radius: 40px;
  cursor: pointer;
  border: none;
}

.collection_img2 {
  margin-left: 200px;
}

.p1 {
  margin-top: 300px;
  margin-left: 100px;
}

.shp_nw_btn3 {
  margin-top: 80px;
  margin-left: 100px;
  background-color: rgb(0, 145, 255);
  color: white;
  width: 140px;
  height: 100px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}

.p2 {
  margin-top: 100px;
  margin-left: 100px;
}

.collection_img3 {
  margin-top: 250px;
}

.collection_img4 {
  margin-top: 20px;
}

.collection_img5 {
  margin-top: 20px;
}

.latest_offer {
  display: flex;
  margin-top: 200px;
  margin-left: 30px;
  margin-right: 30px;
  overflow: hidden;
}

.ltst_heding {
  position: absolute;
  font-size: 40px;
  margin-top: 140px;
  margin-left: 320px;
}

.subs_p {
  position: absolute;
  font-size: 20px;
  margin-top: 230px;
  margin-left: 320px;
}

.email_hldr {
  position: absolute;
  width: 300px;
  height: 40px;
  border-radius: 50px;
  margin-top: 190px;
  margin-left: 800px;
  border: none;
}

.shp_nw_btn4 {
  position: absolute;
  margin-top: 190px;
  margin-left: 1000px;
  background-color: rgb(0, 145, 255);
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}

.txt_sec {
  display: flex;
  margin-top: 150px;
  margin-left: 200px;
  justify-content: space-between;
}

.txt_sec2 {
  margin-left: 200px;
}

.txt_sec3 {
  margin-left: 200px;
  margin-right: 200px;
}

.img5 {
  display: flex;
  margin-top: 100px;
}

.im1 {
  width: 250px;
  height: 250px;
  margin-left: 90px;
  
}
.im2 {
  width: 250px;
  height: 250px;
  margin-left: 20px;
}
.im3 {
  width: 250px;
  height: 250px;
  margin-left: 20px;
}
.im4 {
  width: 250px;
  height: 250px;
  margin-left: 20px;
}
.im5 {
  width: 250px;
  height: 250px;
  margin-left: 20px;
}

.footer1 {
  display: flex;
  margin-top: 100px;
}

.fotr1 {
  margin-left: 150px;
}

.address {
  color: rgb(147, 137, 137);
  margin-right: 20px;
}

.fotr2 {
  margin-left: 150px;
  margin-top: 30px;
}

.fotr3 {
  margin-left: 150px;
  margin-top: 20px;
}

.fotr4 {
  margin-left: 150px;
  margin-top: 20px;
}

.ftr_hdr {
  font-size: 20px;
  color: rgb(107, 99, 99);
}

.ftr_lst {
  margin-top: 10px;
  list-style: none;
  color: #959090;
}

.ftr_lst_itm {
  padding-top: 15px;
  cursor: pointer;
}

.last_footer {
  display: flex;
  margin-top: 30px;
  margin-left: 50px;
}

.fa-instagram {
  margin-left: 600px;
}

.fa-linkedin-square {
  margin-left: 25px;
}

.fa-github {
  margin-left: 25px;
}